*{
    margin:0;
    padding: 0;
    font-family: sans-serif,'poppins';
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height:100vh;
    background-image: url(background6.jpg);
    background-position: center;
    background-size: cover;
    padding : 0 8%;
    position: relative;


    
}
 
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.content{
    color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

}

.content h1{
    font-size: 50px;
    font-weight: 30px;
}

.content span{
    color:cornflowerblue;
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color:#fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time p{
    font-size: 60px;
    margin-bottom: 5px;
}

 